[Desktop Entry]
Version=1.0
Name= Task Master
Exec=/YOURLOCATION/Task-Master/Program/main.py
Icon=/YOURLOCATION/Task-Master/Program/TaskMaster.jpg
Type=Application
